html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  word-wrap: break-word;
  margin: 0;
  height: 100vh;
  font-size: 1.4rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 130px 1fr auto;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #fff;
}

main {
  grid-area: main;
  padding: 1rem 5rem;
}
footer {
  grid-area: footer;
 
}
/* Common */
.product-banner {
  margin-top: 10px;
  font-size: 1.8rem;
  padding: 1rem ;
  font-weight: bold;
  color: #00A349;
}
h2 {
 
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: #00A349;
  font-size: 18px;
  margin: 0 10px;
}

header i{
  font-size: 25px;
}

.upper-nav{
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:#3C474B;
  color: #fff;
  z-index: 5;
}

.upper-nav a{
  color: #fff;
  font-size: 1.4rem !important;
}

.upper-nav a:hover{
  color: #ff8018;
}

.lang{
  display: flex;
  align-items: center;
}

.lang button{
  margin:0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.lang img{
  height:20px;
  width: 25px;
  margin: 0 2px;    
}

a.brand img{
  height: 110px;  
  width: 110px;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.navbar{
  padding:0;
  margin-top:2.5rem;
}

.lower-nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rowe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.rowe.center {
  justify-content: center;
}
.rowe.top {
  align-items: flex-start;
}
.rowe.start {
  justify-content: flex-start;
}

.col{
  height: 40rem;
}

.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 70rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}

/*Home page*/

.upper-content{
  width: 70%;
  display: flex;
  flex-direction: column;
}


/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 15rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width:250px;
}

.image-product{
  justify-content: center;
  display: flex;
  align-items: center;
}

.detail-product{
  padding-left: 3rem;
}

.detail-product h1{
  text-transform: uppercase;
}

.detail-page{
  padding: 0 5rem;
}

.detail-page .col{
  height: 30rem !important;
}

.lower-detailpage{
  padding: 0 7rem;
}

/* Card */
.card {
  width: 20rem;
  height: 35rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.card img{
  margin: 0 auto;
  margin-bottom: 0.5rem;
  width: 22rem;
  height: 15rem;
  transition: 0.3s all ease;
}

.card img:hover{
  transform: scale(0.9);
}

.card h2{
  margin: 0;
  padding: 0!important;
  font-weight: bold;
  color: #000;
}

.card h2:hover{
  color: #ff8000;
}

.card-body {
  position: relative;
  height: auto;
  padding: 2rem 1rem;
  font-weight: 14px;
}
.card-body > * {
  margin-bottom: 0.5rem;
}

.card .details-btn{
  padding: 2px 10px;
  background-color: #00A349;
  color: #fff;
  border: 1px solid #00A349;
  border-radius: 3px;
  position: absolute;
  left: 1rem;
}

.product-card{
  display: flex;
  align-items: center;
}

.product-card img{
  
  max-width: 15rem;
  display: flex;
  justify-content: center;
}

.image-product img{
  max-width: 20rem;
}

.image-product img:focus{
  -webkit-transform: scale(2);
  transform: scale(2);
  cursor: zoom-out;
}

.card-header{
  height: 50%;
  padding:0;
}

.card .details-btn:hover{
  background-color: #fff;
  color: #00A349;
}

.cart-card{
  width: 35rem !important;
  display: flex;
}

.cart-img img{
  width: 10rem;
  height: 10rem;
}

.placeorder-step .card{
  height: 40rem;
  flex-wrap: nowrap;
  overflow-y: auto;
  
}

.orderscreen-detail .card{
  height: 40rem;
  flex-wrap: nowrap;
  overflow-y: auto;
}

.productcard-body{
  max-height: 100%;
}
.productcard-body ul{
  padding: 10px;
}

.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}

/* Dropdown */

#category{
  text-transform: uppercase;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  top:17px;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}


/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

.fa-shopping-basket{
  font-size: 3.5rem;
}

/* Search */
.small-searchbar{
  border: none;
  font-size: 3.5rem;
  background-color: #fff;
  color:#00A349;
}
.search-bar{
  position: relative;
  width: 30%;
}
.search button {
  position: absolute;
  width: 20%;
  outline: none;
  right: -20px;
  bottom: 0;
  border-radius: 0.1px solid #00A349;
  background-color: #00A349;
  color: #fff;
  border-radius: 20px;
}

.search button:hover{
  border-radius: 0.1px solid #00A349;
  background-color: #fff;
  color:#00A349;
}

.search input {
  width: 100%;
  border-radius: 20px;
  border: 0.1px solid #c0c0c0;
  margin-left: 0.5rem;
  outline: none;
}

.small-searchbar{
  display: none;
  outline: none!important;
}


.active {
  font-weight: bold;
}

.tab-pane{
  font-weight: 300!important;
  white-space: pre-wrap;
  padding: 0;
}

.nav-pills{
  border-bottom: .1rem solid #c0c0c0;
}

.nav-item:hover{
  background-color: #f0f0f0;
}

#parameter{
  white-space: pre-wrap!important;
}

.brand-menu li a{
  display: flex;
  justify-content: space-between;
  border-bottom: .1rem solid #f0f0f0
}

.brand-menu label{
  cursor: pointer;
}

.application{
  margin-top: 1rem;
}



/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}

/*Dropdown menu*/
/* Dropdown Button */

.dropdownmenu{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  border: 0.1rem solid #00A349;
}

.dropbtn {
  text-align: left;
  width: 100%;
  background-color: #007a37;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 1px solid #007a37;
  display: flex;
  align-items: center;
}

.dropbtn i{
  font-size: 25px;
  margin-right: 30px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #fff;
  color: #007a37;
  border: 1px solid #007a37;
}

/* The container <div> - needed to position the dropdown content */
.dropdownmenu {
  position: relative;
  display: inline-block;
}

.dropdown-large{
  display: block;
}

.dropdown-small{
  display: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdownmenu-content {
  margin-left: 12px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
}

/* Links inside the dropdown */

.dropdownmenu-content li{
  list-style: none;
}

.dropdownmenu-content a {
  width: 100%;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownmenu-content li{
  width: 50%;
}

/* Change color of dropdown links on hover */
.dropdownmenu-content a:hover {
  background-color: #ddd;
  color: #007a37;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Clear floats after the columns */

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #f0f0f0;
  height: auto;
}


.row2:after {
  content: "";
  display: table;
  clear: both;
}



/*Slideshow*/
.carousel{
  width: 100%!important;
}

.carousel button{
  border: none!important;
  outline: none;
}

.carousel button:hover{
  background-color: rgba(0,0,0,0.2);
}

.slide img{
  max-width: 100%;
  height: 100%;
}

/*Tin tuc*/
.news{
  width: 100%;
  margin-left: 1%;
}

.news-title{
  width: 100%;
  background-color: #007a37; 
  padding: 5px 20px; 
  margin-bottom: 1rem;    
}

.news-title i{
  color:#fff;
}

.news-title a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.news-title a:hover{
  color: #f08000;
}

.news-content i {
  color: #e67e22;
  margin-right: 5px;
}

.news-content {
  padding-left: 2rem;
  text-decoration: none;
  color: #000;
}

.news-content a:hover{
  color: #e67e22;
}

.news-content p{
  margin: 0;
  padding-left: 1rem;
  color: #000;
}

.news-content p:hover{
  color: #e67e22;
}

.news-content{
  margin-top: 20px;
}

/*News page*/
.newspage{
  padding: 2rem 4rem;
  display: flex;
}

.news-sidebar{
  width: 20%;
  display: flex;
  flex-direction: column;
}
.news-sidebar a{
  margin-bottom: 1rem;
}

.toallnews{
  background-color: #00A349;
  color:#fff;
  padding: 0.6rem 1rem;
  border-radius: .3rem;
}

.news-image{
  max-width: 40rem;
  float: right;
margin: 10px;
}

.newsproduct-image img{
  width: 20rem;
  height: 20rem;
}

.newsproduct-image{
  max-width: 40rem;
  float: right;
  margin: 30px;
}

/*All news page*/

.nav-news{
  width: 20%;
  border: .1rem solid #c0c0c0;
  border-radius: .2rem;
  overflow: hidden;
}

.nav-news h3{
  text-align: center;
  background-color:#f08000;
  color:#fff;
  border: none;
  padding: .8rem 0;

}

.tab-news{
  width: 80%;
}

.news-component{
  overflow: hidden;
  border: .1rem solid #c0c0c0;
  display: flex;
  flex-direction: column;
  height: 15rem;
  margin-bottom: 2rem;
  padding: 0.8rem 1.6rem;
 
  border-radius: .3rem;
}

.newscomponent-title{
  width: 100%;
  font-weight: bold;
}

.newscomponent-content{
  display: flex;
  justify-content: space-between;
}

.newscomponent-image{
  width: 20rem;
  height: 100%;
}

.newscomponent-image img{
  width: 100%;
  height: auto;
}

.news-nav-link{
  border-bottom: .1rem solid #f0f0f0!important;

}
.news-nav-link:hover{
  color:#00A349;
}

.newscomponent-detail{
  
}

/*Search page*/

.search-screen h3{
  background-color: #007a37;
  color: #fff;
  padding: 0.5rem;
  border-radius: .2rem;
  margin: 0;
}

.search-screen ul{
  border: .1rem solid #f0f0f0;
}

.search-screen ul li{
  border-bottom: .1rem solid #f0f0f0;
  margin:0;
}

.search-screen li a{
  width: 100%!important;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #000;
}

.search-screen li a:hover{
  color: #00A349;
}

.subcategory{
  width: 25%;
}

.search-box{
  width: 75%;
}

.search-result{
  padding: 1rem 0;
  font-weight: bold;
}


/*Intro page*/

.intro-page{
  padding: 1rem 8rem;
  display: flex;
  justify-content: space-between;
}

.intro-content{
  width: 60%;
}

.intro-info{
  width: 100%;
}

.introinfo-field{
  width: 30%;
  padding-top: 3rem;
}

.intro-page h1{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#002400+0,005700+17,008a00+33,52b152+67,83c783+83,b4ddb4+100 */
  background: #002400; /* Old browsers */
  background: -moz-linear-gradient(left, #fff,  #007a37 17%, #00A349 33%,  #83c783 83%, #b4ddb4 100%, #fff ); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #fff,  #007a37 17%,#00A349 33%,#83c783 83%,#b4ddb4 100%, #fff); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #fff,  #007a37 17%,#00A349 33%,#83c783 83%,#b4ddb4 100%, #fff); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002400', endColorstr='#b4ddb4',GradientType=1 ); /* IE6-9 */
  width: 100%;
  color: #fff;
  padding-left: 2rem;
  display: flex;
  align-items: center;
}

.intro-image{
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  border-radius: 50%;
}

.company-name{
  color: #00A349;
  text-transform: uppercase;
  font-size: 2rem;
}

.intro-page h2{
  margin-top: 3rem;
  color: #f08000;
  font-weight: bold;
}

.intro-page li{
  padding-left: 3rem;
}

.intro-info{
  margin-top: 3rem;
}

.office-name{
  color: #f08000;
}

.nav-link.active{
  background-color: #00A349!important;
}

.contact-sale{
  color:#a02020;
}

.collect-email{
  width: 100%;
  padding: 30px 0;
  margin: 20px 0;
  background-color: #00A349;
  color: #fff;
  border-radius: 5px;
  display: grid;
  place-items: center;
}

.collect-email form{
  width: 40%;
}

.collect-email input{
  width: 85%;
  border: none;
  outline: none;
}

.collect-email button{
  margin-left: 2%;
  width: 13%;
  border: none;
  outline: none;
  color: #00A349;
}

.logo-marquee{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

marquee img{
  margin: 0 2rem;
}

/*Footer*/

.footer{
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  display: flex;
  background-color: #007a37!important;
  color: #ffffff;
  padding-top: 30px;
}


.footer-child{
  margin: 1rem;
  width: 30rem;
}

.contact-info{
  width: 35rem!important;;
}

.contact-info a{
  color:#fff;
  margin-left: 5px;
  text-decoration: underline;
}

.contact-info a:hover{
  color: #f08000;
}

.counter-footer{
  display: flex;
  justify-content: center;
  width: 10rem;
  height: 20rem;
  align-items: center;
}

.counter-footer img{
  width: 10rem;
  height: 8rem;
}

.dept{
  height: 20rem;
}

.sale-dept{
  height: 10rem;
  text-align: left;
}

.tech-dept{
  height: 10rem;
  text-align: left;
}

.contact-media{
  height: 33rem;
  padding: 0;
}

.footer h3{
  text-transform: uppercase;
  font-weight: bold;
}

.footer a{
  text-decoration: none;
  color: #fff;
}

.footer a:hover{
  color: #f08000;
}

.footer p,h5{
  margin: 0;
}

.footer-title{
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}


.other-social{
  margin: 30px 0;
}

.other-social i{
  font-size: 40px;
  margin:10px 10px;
  transition: all 0.5s ease;
}

.other-social i:hover{
  transform: scale(1.2);
}

.fa-linkedin{
  color: #0b83ed;
}

.fa-youtube{
  color:#EA2027;
}

.fa-twitter{
  color: #0b83ed; 
}

.fa-pinterest{
  color: #e60023;
}


.copyright{
  position: absolute;
  bottom: 0;
  text-align: center;
  font-weight: bold;
}

  .lower-content{
    display: flex;
  }
  .product-box{
    width: 100%;
  }

  /*Sidebar*/

  .sidebar{
    margin-top: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-title{
    background-color: #007A37;
    font-weight: bold;
  }
  
  .sidebar-title a{
    text-decoration: none;
    color: #fff!important;
    padding: 10px 10px!important;
    position: relative;
  }
  
  .sidebar-title a:hover{
    text-decoration: underline;
  }
  
  .sidebar-content a{
    text-decoration: none;
    color: #000;
  }
  
  .sidebar-content a:hover{
    text-decoration: underline;
  }
  
  .content-img img{
    width: 100%;
  }
  
  .sub-content{
    margin-bottom: 20px;
    border-bottom: 1px solid #c0c0c0;
  }
  
  .sub-content a{
    text-decoration: none;
    color: #000;
  }
  .sub-content img{
    width: 20%;
    float: left;
    margin: 0 10px;
  }
  
  .sub-content p{
    width: 80%;
  }

  #scrolltotop {
    display: none;
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    background-color: #3c474b8f;
    color: #fff;
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
    z-index: 10;
  }

  #pic{
    width:auto;
    min-width: 15rem;
    height: auto;
  }
  

/*Responsive*/

@media screen and (max-width: 1150px){
  .cart-screen{
    display: flex;
    padding: 0 1rem;
  }

  .cartscreen-cart{
    width: 50%;
    height: 50%;
  }

  .cart-card{
    width:15rem!important;
    height:15rem!important;
  }
  
  
}

@media screen and (max-width: 1024px){
  .content{
    padding: 0;
  }

  .lower-content{
    flex-direction: column;
    align-items: center;
  }
  .search-bar{
    width: 30%;
  }

  

  .search-bar button{
    width: 100px;
  }
}

@media screen and (max-width: 800px){

  .sidebar{
    width: 100%!important;
  }

  .upper-content{
    width: 100%!important;
  }

  .intro-page{
    flex-direction: column;
  }

  .intro-content{
    width: 100%;
  }
  
  
  .introinfo-field{
    width: 100%;
    padding-top: 3rem;
  }

  .lower-nav{
    justify-content: space-around;   
  }

  .dropdownmenu-content a {
    width: 100%;
    color: black;
    padding: 5px 8px;
    text-decoration: none;
    display: block;
  }

  .search-bar{
    width:50%;
    position: absolute;
    display: none;
    bottom: -2rem;
    left: 20rem;
    z-index: 1;

  }

  .search-bar.show{
    display: block;
  }

  .small-searchbar{
    display: block!important;
    position: relative!important;
    border-radius: 50%!important;
    width: 5rem!important;
    margin:0;
    outline: none!important;
    border: none!important;
  }

  .column{
    width: 100%;
    height: auto;
  }


  .detail-page .card{
    width: 95%;
    display: flex;
  }

  

  .product-container{
    flex-direction: column;
  }

  .products-box{
    width:73%;
  }

  .productscreen-card{
    max-height: 28rem !important;

  }

  .collect-email form{
    width: 70%;
  }

}

@media screen and (max-width: 600px){
  .sidebar{
    width: 100%!important;
  }
}

@media screen and (max-width: 500px){
  .hotline,.email{
    display: none;
  }

  .collect-email input{
    width: 75%;
  }

  .collect-email button{
    width: 20%;
  }
}
