html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 130px 1fr auto;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #fff;
}

main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
 
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: #00A349;
  font-size: 18px;
  margin: 0 10px;
}

header i{
  font-size: 25px;
}

.upper-nav{
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:#3C474B;
  color: #fff;
}

.lang{
  display: flex;
  align-items: center;
}

.lang button{
  margin:0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.lang img{
  height:20px;
  width: 25px;
  margin: 0 2px;    
}

a.brand img{
  height: 110px;  
  width: 110px;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}



.rowe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.rowe.center {
  justify-content: center;
}
.rowe.top {
  align-items: flex-start;
}
.rowe.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width:250px;
}

/* Card */
.card {
  width: 22rem;
  height: auto;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card img{
  width: 20rem;
  height: 15rem;
}

.card-body {
  max-height: 40%;
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}

.cart-card{
  width: 35rem !important;
  display: flex;
  
}

.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  top:17px;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

/* Search */

.search-bar{
  position: relative;
  width: 30%;
}
.search button {
  position: absolute;
  width: 20%;
  outline: none;
  right: -20px;
  bottom: 0;
  border-radius: 0.1px solid #00A349;
  background-color: #00A349;
  color: #fff;
  border-radius: 20px;
}

.search button:hover{
  border-radius: 0.1px solid #00A349;
  background-color: #fff;
  color:#00A349;
}

.search input {
  width: 100%;
  border-radius: 20px;
  border: 0.1px solid #c0c0c0;
  margin-left: 0.5rem;
  outline: none;
}
.active {
  font-weight: bold;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}

/*Dropdown menu*/
/* Dropdown Button */

.dropdownmenu{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.dropbtn {
  text-align: left;
  width: 100%;
  background-color: #007a37;
  color: white;
  padding: 16px 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 1px solid #007a37;
  display: flex;
  align-items: center;
}

.dropbtn i{
  font-size: 25px;
  margin-right: 30px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #fff;
  color: #007a37;
  border: 1px solid #007a37;
}

/* The container <div> - needed to position the dropdown content */
.dropdownmenu {
  position: relative;
  display: inline-block;
}

.dropdown-large{
  display: block;
}

.dropdown-small{
  display: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdownmenu-content {
  margin-left: 12px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
}

/* Links inside the dropdown */

.dropdownmenu-content li{
  list-style: none;
}

.dropdownmenu-content a {
  width: 50%;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownmenu-content li{
  width: 50%;
}

/* Change color of dropdown links on hover */
.dropdownmenu-content a:hover {
  background-color: #ddd;
  color: #007a37;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Clear floats after the columns */

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #f0f0f0;
  height: auto;
}


.row2:after {
  content: "";
  display: table;
  clear: both;
}


/*Upper Content*/
.upper-content{
  display: flex;
}
/*Slideshow*/
.carousel{
  width: 70%!important;
}

/*Tin tuc*/
.news{
  width: 28%;
  margin-left: 1%;
}

.news-title{
  width: 100%;
  background-color:#00A349; 
  padding: 5px 20px; 
  color: #fff;    
}

.news-content i {
  color: #e67e22;
  margin-right: 5px;
}

.news-content a{
  text-decoration: none;
  color: #000;
}

.news-content a:hover{
  color: #e67e22;
}

.news-content p{
  margin: 0;
}

.nav-link.active{
  background-color: #00A349!important;
}

.contact-sale{
  color:#a02020;
}

.collect-email{
  width: 100%;
  padding: 30px 0;
  margin: 20px 0;
  background-color: #00A349;
  color: #fff;
  border-radius: 5px;
  display: grid;
  place-items: center;
}

.collect-email form{
  width: 40%;
}

.collect-email input{
  width: 85%;
  border: none;
  outline: none;
}

.collect-email button{
  margin-left: 2%;
  width: 13%;
  border: none;
  outline: none;
  color: #00A349;
}

.logo-marquee{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/*Footer*/

.footer{
  background-color: #007a37!important;
  color: #ffffff;
  padding-top: 30px;
}


.footer-child{
  margin-bottom: 20px;
}

.footer h5{
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.footer p,h5{
  margin: 0;
}

.footer-title{
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.other-social{
  margin: 30px 0;
}

.other-social i{
  font-size: 40px;
  margin:10px 10px;
  transition: all 0.5s ease;
}

.other-social i:hover{
  transform: scale(1.2);
}

.fa-facebook{
  color: #0b83ed;
}

.fa-youtube{
  color:#EA2027;
}

.fa-twitter{
  color: #0b83ed; 
}

.fa-pinterest{
  color: #e60023;
}


.copyright{
  text-align: center;
  font-weight: bold;
}


/*Responsive*/

@media screen and (max-width: 1100px){
  
  
}

@media screen and (max-width: 1024px){
.content{
  padding: 0;
}

  .search-bar{
    width: 50%;
  }

  .search-bar button{
    width: 100px;
  }
}

@media screen and (max-width: 800px){
  
  .column{
    width: 100%;
    height: auto;
  }

  .upper-content{
    flex-direction: column;
  }

  .carousel{
    width: 100%;
  }

  .news{
    width: 100%;
    margin-left: 0;
  }

  .product-container{
    flex-direction: column;
  }

  .products-box{
    width:100%;
  }

  .product-box h2{
    background-color: #a02020;
  }

  .sidebar{
    max-width: 60%;
    margin: 0 auto;
  }

}

@media screen and (max-width: 600px){
  
}

@media screen and (max-width: 500px){
  .hotline,.email{
    display: none;
  }
}